<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <ul>
        <li>{{info.name}}</li>
        <li>{{info.age}}</li>
        <li>{{info.height}}</li>
        <!--        遍历对象， 会直接将属性的value输出-->
        <!--        <li v-for="(item) in info">{{item}}</li>-->
        <!--      推荐使用value,和key来表示  和jquery一样， value在前， key在后-->
        <li v-for="(value,key,index) in info">{{key}}:{{value}}:{{index}}</li>

    </ul>
</div>
</body>
<script src="../js/vue.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      info: {
        name: 'chz',
        age: 20,
        height: 1.88
      }
    }
  });
</script>
</html>